{% include header.html %}
<div id="main">
    <div id="main-inner">
        <div id="topnav">
            <ul>
                <li><a href="{{ site.baseurl }}">首页</a></li>
                <li class="sep"> | </li>
                <li><a href="/tag.html">标签</a></li>
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div id="article-title">
            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
        </div>
        <div id="article-meta">
            发布于 {{ page.date | date_to_string }} 
        </div>
        <div id="article-tags">
       {% for tag in page.tags %}
        <a class="tag" href="/tag.html#{{tag}}">{{tag}}</a>
        {% endfor %}
        </div>
        <div id="article-content">
            {{ content }}
        </div>

    </div>
</div>

{% include footer.html %}
